@import './general';

#home {
  //  Media query
  @media (min-width: 992px) {
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h2 {
    font-weight: 600;
    margin-top: 2.5rem;
  }
  p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  a {
    border-radius: 1.6rem;
    font-size: 1.4rem;
    border: none;
  }

  .responsive-img {
    margin-top: 3rem;
  }
}
