@import './general';

#numbers {
  .card {
    .card-title {
      padding-top: 1.5rem;
      font-weight: 600;
      letter-spacing: 2px;
    }
    .card-content {
      font-size: 1.6rem;
    }

    border-radius: 0.5rem;
  }
}
